.mainWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 70px;
}

.verificationWrapper {
  height: 50vh;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #c4c3c3;
  letter-spacing: 1px;
}

.passwordWrapper input {
  width: 40vh;
  height: 55px;
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #000000;
  background-color: #e2e8f0;
}

.passwordWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.showPassWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.showPassWrapper input {
  width: 20px !important;
  height: 15px !important;
  border-radius: 10px;
  border: none;
  padding: 0 10px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #000000;
  background-color: #e2e8f0;
  cursor: pointer;
}

.showPassWrapper h4 {
  font-size: 10px;
  letter-spacing: 1px;
  color: #000000;
}

.emailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.pinField {
  background-color: rgb(248, 249, 250);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0.3rem;
  font-size: 2rem;
  margin: 0.25rem;
  height: 3.5rem;
  outline: none;
  text-align: center;
  transition-duration: 250ms;
  transition-property: background, color, border, box-shadow, transform;
  width: 3rem;
}

.pinField:focus {
  border-color: rgb(0, 123, 255);
  outline: none;
  transform: scale(1.05);
}

.pinField:invalid {
  animation: shake 3 linear 75ms;
  border-color: rgb(220, 53, 69);
  box-shadow: 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

swd-pin-field[completed] .pinField {
  border-color: rgb(40, 167, 69);
  background-color: rgba(40, 167, 69, 0.25);
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.buttonsWrapper span {
  font-size: 14px;
  font-weight: bold;
  color: #3fdd00;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: color;
  transition: transform 0.6s;
}

.verifyBtn {
  width: 30vh;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: var(--customOrange);
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.6s;
}
.verifyBtn:disabled {
  background-color: #cccccc;
  color: #ffffff;
}

.verifyBtn:hover,
.buttonsWrapper span:hover {
  transform: scale(0.95);
  opacity: 0.7;
}

@keyframes shake {
  from {
    transform: scale(1.05) translateY(-5%);
  }
  to {
    transform: scale(1.05) translateY(5%);
  }
}

@media screen and (max-width: 1000px) {
  .verificationWrapper {
    width: 90%;
    text-align: center;
  }
}
